
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/jquery")
<h1>Trang Sample1 Index</h1>
<h2>Danh sách sản phẩm load từ server</h2>
<div class="row my-3">
    <label class="col-sm-3 col-form-label text-end">ID: <label style="color: red;">*</label></label>
    <div class="col-sm-8">
        <input id="id" type="text" class="form-control" >
    </div>
</div>

<div class="row mb-3">
    <label class="col-sm-3 col-form-label text-end">Name: <label style="color: red;">*</label></label>
    <div class="col-sm-8">
        <input id="name" type="text" class="form-control" >
    </div>
</div>
<button onclick="save()" class="btn btn-primary bg-gradient text-white">Lưu</button>
<div class="grid">
    <table id="tbListCustomer" class="tableFixHead" width="100%" border="1">
        <thead>
            <tr>
                <th width="100px">ID</th>
                <th width="100px">Name</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        //load dữ liệu:
        loadData();
    })
    function Product(_id, _name) {
        this.ID = _id;
        this.Name = _name;
    };
    function loadData() {
        var Products = [];
        $('.grid table tbody').empty();
        $.ajax({
            url: '/api/productApi',
            cache: false,
            async: false,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            data: {},
            success: function (data) {
                data.forEach(function (item) {
                    Products.push(new Product(item.ID, item.Name));
                });
            }
        });
        Products.forEach(function (item) {
            var trHTML = $(`<tr class='grid-row'>
                                <td>`+ item.ID + `</td>
                                <td>`+ item.Name + `</td>
                            </tr>`);
            $('.grid table tbody').append(trHTML);
        })
    }

    function save() {
        var product = new Product();
        product.ID = $("#id").val();
        product.Name = $("#name").val();
        $.ajax({
            url: '/api/productApi',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(product),
            dataType: "json", // dữ liệu truyền lên
            success: function (res) {
                // Hiển thị thông báo cất thành công/ thất bại:
                alert("Lưu thành công!")
                // load lại dữ liệu
                loadData();
            },
            fail: function (res) {

            }
        });
    }

</script>