USE [master]
GO
/****** Object:  Database [BanHangVanPhongPham]    Script Date: 15/05/2022 08:26:25 PM ******/
CREATE DATABASE [BanHangVanPhongPham]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BanHangVanPhongPham].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BanHangVanPhongPham]
GO
/****** Object:  Table [dbo].[address]    Script Date: 15/05/2022 08:26:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[address](
	[address_id] [bigint] IDENTITY(1,1) NOT NULL,
	[specific_address] [nvarchar](100) NULL,
	[user_id] [bigint] NULL,
	[ward_id] [bigint] NULL,
 CONSTRAINT [PK__address__CAA247C8CCFF8FB3] PRIMARY KEY CLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brand]    Script Date: 15/05/2022 08:26:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brand](
	[brand_id] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](200) NULL,
	[name] [nvarchar](100) NULL,
 CONSTRAINT [PK__brand__5E5A8E271706E7C7] PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 15/05/2022 08:26:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[cart_id] [bigint] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NULL,
	[product_id] [bigint] NULL,
	[user_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 15/05/2022 08:26:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[category_id] [bigint] IDENTITY(1,1) NOT NULL,
	[image] [nvarchar](300) NULL,
	[name] [nvarchar](100) NULL,
	[note] [nvarchar](300) NULL,
 CONSTRAINT [PK__category__D54EE9B4BABFE3E2] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[district]    Script Date: 15/05/2022 08:26:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[district](
	[district_id] [bigint] IDENTITY(1,1) NOT NULL,
	[district_name] [nvarchar](100) NULL,
	[district_prefix] [nvarchar](100) NULL,
	[province_id] [bigint] NULL,
 CONSTRAINT [PK__district__2521322BF067C0F3] PRIMARY KEY CLUSTERED 
(
	[district_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feedback]    Script Date: 15/05/2022 08:26:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedback](
	[id_product] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[comment] [nvarchar](255) NULL,
	[date] [datetime2](7) NULL,
	[vote] [int] NULL,
 CONSTRAINT [PK__feedback__51A20B3F53E75E0E] PRIMARY KEY CLUSTERED 
(
	[id_product] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_detail]    Script Date: 15/05/2022 08:26:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_detail](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[price] [numeric](18, 2) NOT NULL,
	[quantity] [int] NOT NULL,
	[order_id] [bigint] NULL,
	[product_id] [bigint] NULL,
 CONSTRAINT [PK__order_de__3213E83FCADBF891] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_status]    Script Date: 15/05/2022 08:26:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_status](
	[status_id] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](50) NULL,
 CONSTRAINT [PK__order_st__3683B5312B6BCF6A] PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 15/05/2022 08:26:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [bigint] IDENTITY(1,1) NOT NULL,
	[date] [datetime2](7) NULL,
	[total_price] [float] NULL,
	[status_id] [bigint] NULL,
	[user_id] [bigint] NULL,
	[address] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[poster]    Script Date: 15/05/2022 08:26:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[poster](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[is_active] [bit] NULL,
	[name] [nvarchar](300) NULL,
	[type] [int] NOT NULL,
 CONSTRAINT [PK__poster__3213E83FF3B86902] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 15/05/2022 08:26:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[product_id] [bigint] IDENTITY(1,1) NOT NULL,
	[calculation_unit] [nvarchar](300) NULL,
	[description] [nvarchar](1000) NULL,
	[discount] [int] NOT NULL,
	[image] [nvarchar](300) NULL,
	[name] [nvarchar](200) NULL,
	[price] [numeric](18, 2) NULL,
	[quantity] [int] NOT NULL,
	[sold_quantity] [int] NULL,
	[specification] [nvarchar](50) NULL,
	[status] [bit] NOT NULL,
	[brand_id] [bigint] NULL,
	[category_id] [bigint] NULL,
 CONSTRAINT [PK__product__47027DF52F62BAF9] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[province]    Script Date: 15/05/2022 08:26:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[province](
	[province_id] [bigint] IDENTITY(1,1) NOT NULL,
	[province_code] [nvarchar](20) NULL,
	[province_name] [nvarchar](100) NULL,
 CONSTRAINT [PK__province__08DCB60F94649ADE] PRIMARY KEY CLUSTERED 
(
	[province_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 15/05/2022 08:26:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 15/05/2022 08:26:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[user_id] [bigint] NOT NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 15/05/2022 08:26:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [varchar](50) NULL,
	[first_name] [nvarchar](120) NULL,
	[image] [nvarchar](300) NULL,
	[last_name] [nvarchar](120) NULL,
	[password] [varchar](120) NULL,
	[phone] [varchar](10) NULL,
	[status] [bit] NOT NULL,
	[username] [varchar](20) NULL,
 CONSTRAINT [PK__users__3213E83F5981D3B9] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ward]    Script Date: 15/05/2022 08:26:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ward](
	[ward_id] [bigint] IDENTITY(1,1) NOT NULL,
	[ward_name] [nvarchar](50) NULL,
	[ward_prefix] [nvarchar](50) NULL,
	[district_id] [bigint] NULL,
 CONSTRAINT [PK__ward__396B899D7FE2F0C5] PRIMARY KEY CLUSTERED 
(
	[ward_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[address] ON 

INSERT [dbo].[address] ([address_id], [specific_address], [user_id], [ward_id]) VALUES (1, N'1/15C kp3 tổ 38', NULL, 173)
INSERT [dbo].[address] ([address_id], [specific_address], [user_id], [ward_id]) VALUES (2, N'1/10D', NULL, 173)
INSERT [dbo].[address] ([address_id], [specific_address], [user_id], [ward_id]) VALUES (3, N'1/15F', NULL, 191)
SET IDENTITY_INSERT [dbo].[address] OFF
GO
SET IDENTITY_INSERT [dbo].[brand] ON 

INSERT [dbo].[brand] ([brand_id], [description], [name]) VALUES (1, N'Thiên Long là công ty chuyên về văn phòng phẩm, dụng cụ mỹ thuật của Việt Nam. Công ty được thành lập vào năm 1981 tại thành phố Hồ Chí Minh, tiền thân là Cơ sở bút bi Thiên Long.', N'Thiên Long')
INSERT [dbo].[brand] ([brand_id], [description], [name]) VALUES (2, NULL, N'Bizner')
INSERT [dbo].[brand] ([brand_id], [description], [name]) VALUES (3, NULL, N'Double A')
SET IDENTITY_INSERT [dbo].[brand] OFF
GO
SET IDENTITY_INSERT [dbo].[cart] ON 

INSERT [dbo].[cart] ([cart_id], [quantity], [product_id], [user_id]) VALUES (7, 5, 3, 1)
INSERT [dbo].[cart] ([cart_id], [quantity], [product_id], [user_id]) VALUES (8, 1, 3, 3)
INSERT [dbo].[cart] ([cart_id], [quantity], [product_id], [user_id]) VALUES (9, 1, 4, 3)
SET IDENTITY_INSERT [dbo].[cart] OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([category_id], [image], [name], [note]) VALUES (1, N'butViet.jpg', N'Bút viết', NULL)
INSERT [dbo].[category] ([category_id], [image], [name], [note]) VALUES (2, N'giayVP.jpg', N'Giấy văn phòng', NULL)
INSERT [dbo].[category] ([category_id], [image], [name], [note]) VALUES (3, N'dungCuVP.jpg', N'Dụng cụ văn phòng', N'')
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[district] ON 

INSERT [dbo].[district] ([district_id], [district_name], [district_prefix], [province_id]) VALUES (1, N'Bình Chánh', N'Huyện', 1)
INSERT [dbo].[district] ([district_id], [district_name], [district_prefix], [province_id]) VALUES (2, N'Bình Tân', N'Quận', 1)
INSERT [dbo].[district] ([district_id], [district_name], [district_prefix], [province_id]) VALUES (3, N'Bình Thạnh', N'Quận', 1)
GO
SET IDENTITY_INSERT [dbo].[district] OFF
GO
INSERT [dbo].[feedback] ([id_product], [user_id], [comment], [date], [vote]) VALUES (2, 1, N'Bút khá cute *tym*', CAST(N'2021-10-03T00:00:00.0000000' AS DateTime2), 5)
INSERT [dbo].[feedback] ([id_product], [user_id], [comment], [date], [vote]) VALUES (5, 1, N'Bút gì mà dỏm quá :<', CAST(N'2021-11-20T00:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[feedback] ([id_product], [user_id], [comment], [date], [vote]) VALUES (5, 3, N'Bút rất tốt, rẻ', CAST(N'2021-11-24T00:00:00.0000000' AS DateTime2), 5)
GO
SET IDENTITY_INSERT [dbo].[order_detail] ON 

INSERT [dbo].[order_detail] ([id], [price], [quantity], [order_id], [product_id]) VALUES (1, CAST(6400.00 AS Numeric(18, 2)), 1, 2, 28)
INSERT [dbo].[order_detail] ([id], [price], [quantity], [order_id], [product_id]) VALUES (2, CAST(9000.00 AS Numeric(18, 2)), 2, 3, 17)
INSERT [dbo].[order_detail] ([id], [price], [quantity], [order_id], [product_id]) VALUES (3, CAST(83391.00 AS Numeric(18, 2)), 1, 4, 7)
SET IDENTITY_INSERT [dbo].[order_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[order_status] ON 

INSERT [dbo].[order_status] ([status_id], [description]) VALUES (1, N'Chờ xử lý')
INSERT [dbo].[order_status] ([status_id], [description]) VALUES (2, N'Yêu cầu hủy')
INSERT [dbo].[order_status] ([status_id], [description]) VALUES (3, N'Đang giao')
SET IDENTITY_INSERT [dbo].[order_status] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([order_id], [date], [total_price], [status_id], [user_id], [address]) VALUES (2, CAST(N'2021-10-02T00:00:00.0000000' AS DateTime2), 6400, 4, 1, NULL)
INSERT [dbo].[orders] ([order_id], [date], [total_price], [status_id], [user_id], [address]) VALUES (3, CAST(N'2021-10-02T00:00:00.0000000' AS DateTime2), 9000, 4, 1, NULL)
INSERT [dbo].[orders] ([order_id], [date], [total_price], [status_id], [user_id], [address]) VALUES (4, CAST(N'2021-11-18T00:00:00.0000000' AS DateTime2), 727431, 5, 1, NULL)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[poster] ON 

INSERT [dbo].[poster] ([id], [is_active], [name], [type]) VALUES (1, 1, N'poster10.jpg', 1)
INSERT [dbo].[poster] ([id], [is_active], [name], [type]) VALUES (2, 1, N'poster11.jpg', 1)
INSERT [dbo].[poster] ([id], [is_active], [name], [type]) VALUES (3, 1, N'poster15.jpg', 1)
SET IDENTITY_INSERT [dbo].[poster] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([product_id], [calculation_unit], [description], [discount], [image], [name], [price], [quantity], [sold_quantity], [specification], [status], [brand_id], [category_id]) VALUES (2, N'cây', N'Nét viết trơn, êm, mực ra đều và liên tục.
Không độc hại, tiện dụng khi sử dụng.
 Mực hệ nước, hệ màu dye.', 0, N'fo-gel18_vn_tim_71669d93f8d04bf498bbf73b7ab162e5_1024x1024.jpg', N'Bút gel 2 viên bi Thiên Long Flexoffice FO-GEL18/VN - Mực nước, đậm, tươi', CAST(8300.00 AS Numeric(18, 2)), 30, 1, N'1 bút/ kiện.', 1, 16, 1)
INSERT [dbo].[product] ([product_id], [calculation_unit], [description], [discount], [image], [name], [price], [quantity], [sold_quantity], [specification], [status], [brand_id], [category_id]) VALUES (3, N'cây', N'Để nơi thoáng mát, tránh nguồn nhiệt. Không thích hợp cho trẻ dưới 3 tuổi.', 0, N'fo-039_plus_vn_4mc_4_ae40e120115b48d4ae2a85e09a47d53a_1024x1024.jpg', N'Bút bi Thiên Long Flexoffice FO-039 PLUS/VN 4MC - Mực đạt tiêu chuẩn châu Âu', CAST(4600.00 AS Numeric(18, 2)), 30, 0, N'1 bút/ kiện.', 1, 16, 1)
SET IDENTITY_INSERT [dbo].[product] OFF
GO
SET IDENTITY_INSERT [dbo].[province] ON 

INSERT [dbo].[province] ([province_id], [province_code], [province_name]) VALUES (1, N'SG', N'Hồ Chí Minh')
INSERT [dbo].[province] ([province_id], [province_code], [province_name]) VALUES (2, N'HN', N'Hà Nội')
INSERT [dbo].[province] ([province_id], [province_code], [province_name]) VALUES (3, N'DDN', N'Đà Nẵng')
SET IDENTITY_INSERT [dbo].[province] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [name]) VALUES (1, N'ROLE_USER')
INSERT [dbo].[roles] ([id], [name]) VALUES (2, N'ROLE_ADMIN')
INSERT [dbo].[roles] ([id], [name]) VALUES (3, N'ROLE_MODERATOR')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (1, 1)
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (1, 2)
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [email], [first_name], [image], [last_name], [password], [phone], [status], [username]) VALUES (1, N'quan.vn@gmail.com', N'Quân', N'Defaul.png', N'Đậu Trường', N'$2a$10$J0M/ffrs24ARFPUnmqGpi.slYmQXEJ85fjtiU4q0aeaauhV.q3dWq', N'0935856510', 1, N'anhyeuem')
INSERT [dbo].[users] ([id], [email], [first_name], [image], [last_name], [password], [phone], [status], [username]) VALUES (2, N'reintrinh1306@gmail.com', N'Trinh', N'Defaul.png', N'Nguyễn Ngọc Phương', N'$2a$10$h6PhySSEDqk46Fu/UrWube/CmPRCsCYkh7p/iEvpl.AypIXxzJX2O', N'0396311734', 1, N'reintrinh')
INSERT [dbo].[users] ([id], [email], [first_name], [image], [last_name], [password], [phone], [status], [username]) VALUES (3, N'hathimo@gmail.com', N'Mơ', N'Defaul.png', N'Hà Thị', N'$2a$10$j6tKHaZT.ivt3n4KSm//NOsKh1rHkUt/HE64qP5mFiV3.8XFcOUYO', N'0123456789', 1, N'hathimo')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[ward] ON 

INSERT [dbo].[ward] ([ward_id], [ward_name], [ward_prefix], [district_id]) VALUES (1, N'An Phú Tây', N'Xã', 1)
INSERT [dbo].[ward] ([ward_id], [ward_name], [ward_prefix], [district_id]) VALUES (2, N'Bình Chánh', N'Xã', 1)
INSERT [dbo].[ward] ([ward_id], [ward_name], [ward_prefix], [district_id]) VALUES (3, N'Bình Hưng', N'Xã', 1)
GO
SET IDENTITY_INSERT [dbo].[ward] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_6dotkott2kjsp8vw4d0m25fb7]    Script Date: 15/05/2022 08:26:25 PM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UK_6dotkott2kjsp8vw4d0m25fb7] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_du5v5sr43g5bfnji4vb8hg5s3]    Script Date: 15/05/2022 08:26:25 PM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UK_du5v5sr43g5bfnji4vb8hg5s3] UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK6dotkott2kjsp8vw4d0m25fb7]    Script Date: 15/05/2022 08:26:25 PM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UK6dotkott2kjsp8vw4d0m25fb7] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKr43af9ap4edm43mmtq01oddj6]    Script Date: 15/05/2022 08:26:25 PM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UKr43af9ap4edm43mmtq01oddj6] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[address]  WITH CHECK ADD  CONSTRAINT [FK_address_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[address] CHECK CONSTRAINT [FK_address_users]
GO
ALTER TABLE [dbo].[address]  WITH CHECK ADD  CONSTRAINT [FKq7vspx6bqxq5lawbv2calw5lb] FOREIGN KEY([ward_id])
REFERENCES [dbo].[ward] ([ward_id])
GO
ALTER TABLE [dbo].[address] CHECK CONSTRAINT [FKq7vspx6bqxq5lawbv2calw5lb]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [FK3d704slv66tw6x5hmbm6p2x3u] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [FK3d704slv66tw6x5hmbm6p2x3u]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [FKg5uhi8vpsuy0lgloxk2h4w5o6] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [FKg5uhi8vpsuy0lgloxk2h4w5o6]
GO
ALTER TABLE [dbo].[district]  WITH CHECK ADD  CONSTRAINT [FK276utu38g5lgqeth6pwfm3rw2] FOREIGN KEY([province_id])
REFERENCES [dbo].[province] ([province_id])
GO
ALTER TABLE [dbo].[district] CHECK CONSTRAINT [FK276utu38g5lgqeth6pwfm3rw2]
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD  CONSTRAINT [FK23lq8u03gd16x4s8w609og3c5] FOREIGN KEY([id_product])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[feedback] CHECK CONSTRAINT [FK23lq8u03gd16x4s8w609og3c5]
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD  CONSTRAINT [FKpwwmhguqianghvi1wohmtsm8l] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[feedback] CHECK CONSTRAINT [FKpwwmhguqianghvi1wohmtsm8l]
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD  CONSTRAINT [FKb8bg2bkty0oksa3wiq5mp5qnc] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[order_detail] CHECK CONSTRAINT [FKb8bg2bkty0oksa3wiq5mp5qnc]
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD  CONSTRAINT [FKrws2q0si6oyd6il8gqe2aennc] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[order_detail] CHECK CONSTRAINT [FKrws2q0si6oyd6il8gqe2aennc]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK1abokg3ghque9pf2ujbxakng] FOREIGN KEY([status_id])
REFERENCES [dbo].[order_status] ([status_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK1abokg3ghque9pf2ujbxakng]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK32ql8ubntj5uh44ph9659tiih] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK32ql8ubntj5uh44ph9659tiih]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK1mtsbur82frn64de7balymq9s] FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([category_id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK1mtsbur82frn64de7balymq9s]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FKs6cydsualtsrprvlf2bb3lcam] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brand] ([brand_id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FKs6cydsualtsrprvlf2bb3lcam]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FKh8ciramu9cc9q3qcqiv4ue8a6] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FKh8ciramu9cc9q3qcqiv4ue8a6]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FKhfh9dx7w3ubf1co1vdev94g3f] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FKhfh9dx7w3ubf1co1vdev94g3f]
GO
ALTER TABLE [dbo].[ward]  WITH CHECK ADD  CONSTRAINT [FKslko72wj5nauqvsgefqkvwpsb] FOREIGN KEY([district_id])
REFERENCES [dbo].[district] ([district_id])
GO
ALTER TABLE [dbo].[ward] CHECK CONSTRAINT [FKslko72wj5nauqvsgefqkvwpsb]
GO
USE [master]
GO
