USE [master]
GO
/****** Object:  Database [VANPHONGPHAM]    Script Date: 2/16/2022 10:29:41 PM ******/
CREATE DATABASE [VANPHONGPHAM]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VANPHONGPHAM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VANPHONGPHAM]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 2/16/2022 10:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[address_id] [int] IDENTITY(1,1) NOT NULL,
	[ward_id] [int] NOT NULL,
	[specific_address] [nvarchar](100) NULL,
 CONSTRAINT [PK_address] PRIMARY KEY CLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Brand]    Script Date: 2/16/2022 10:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[brand_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](200) NULL,
 CONSTRAINT [PK_brand] PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cart]    Script Date: 2/16/2022 10:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[product_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_cart] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 2/16/2022 10:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[image] [nvarchar](300) NULL,
	[note] [nvarchar](300) NULL,
 CONSTRAINT [PK_category] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[District]    Script Date: 2/16/2022 10:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[district_id] [int] NOT NULL,
	[district_name] [nvarchar](100) NULL,
	[district_prefix] [nvarchar](100) NULL,
	[province_id] [int] NULL,
 CONSTRAINT [PK_district] PRIMARY KEY CLUSTERED 
(
	[district_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 2/16/2022 10:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[user_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[date] [date] NOT NULL,
	[comment] [nvarchar](2000) NULL,
	[vote] [int] NULL,
 CONSTRAINT [PK_feedback] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 2/16/2022 10:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NOT NULL,
	[total_price] [numeric](18, 2) NOT NULL,
	[status_id] [int] NOT NULL CONSTRAINT [DF_order_status_id]  DEFAULT ((0)),
	[user_id] [int] NOT NULL,
 CONSTRAINT [PK_order] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order_detail]    Script Date: 2/16/2022 10:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_detail](
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[item_price] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_order_detail] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order_status]    Script Date: 2/16/2022 10:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_status](
	[status_id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](50) NULL,
 CONSTRAINT [PK_status] PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Permission]    Script Date: 2/16/2022 10:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[permission_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_permission] PRIMARY KEY CLUSTERED 
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Poster]    Script Date: 2/16/2022 10:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Poster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](300) NULL,
	[type] [int] NULL,
	[isActive] [bit] NULL CONSTRAINT [DF_poster_isActive]  DEFAULT ((1)),
 CONSTRAINT [PK_poster] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 2/16/2022 10:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[image] [nvarchar](300) NULL,
	[price] [numeric](18, 2) NOT NULL,
	[specification] [nvarchar](50) NULL,
	[calculation_unit] [nvarchar](15) NOT NULL,
	[discount] [int] NULL,
	[sold_quantity] [int] NULL CONSTRAINT [DF_product_sold_quantity]  DEFAULT ((0)),
	[quantity] [int] NOT NULL,
	[category_id] [int] NOT NULL,
	[brand_id] [int] NOT NULL,
	[status] [bit] NOT NULL CONSTRAINT [DF_product_status]  DEFAULT ((1)),
 CONSTRAINT [PK_product] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Province]    Script Date: 2/16/2022 10:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[province_id] [int] NOT NULL,
	[province_name] [nvarchar](100) NULL,
	[province_code] [nvarchar](20) NULL,
 CONSTRAINT [PK_province] PRIMARY KEY CLUSTERED 
(
	[province_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 2/16/2022 10:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](100) NULL,
	[first_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](100) NULL,
	[image] [nvarchar](300) NULL,
	[address_id] [int] NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[created_at] [date] NOT NULL,
	[permission_id] [int] NOT NULL,
	[status] [bit] NOT NULL CONSTRAINT [DF_user_status]  DEFAULT ((1)),
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ward]    Script Date: 2/16/2022 10:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ward](
	[ward_id] [int] NOT NULL,
	[ward_name] [nvarchar](50) NOT NULL,
	[ward_prefix] [nvarchar](20) NULL,
	[district_id] [int] NULL,
 CONSTRAINT [PK_ward] PRIMARY KEY CLUSTERED 
(
	[ward_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([address_id], [ward_id], [specific_address]) VALUES (1, 173, N'1/15C kp3 tổ 38')
INSERT [dbo].[Address] ([address_id], [ward_id], [specific_address]) VALUES (2, 173, N'1/10D')
INSERT [dbo].[Address] ([address_id], [ward_id], [specific_address]) VALUES (3, 191, N'1/15CF')
SET IDENTITY_INSERT [dbo].[Address] OFF
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([brand_id], [name], [description]) VALUES (1, N'Thiên Long', N'Thiên Long là công ty chuyên về văn phòng phẩm, dụng cụ mỹ thuật của Việt Nam. Công ty được thành lập vào năm 1981 tại thành phố Hồ Chí Minh, tiền thân là Cơ sở bút bi Thiên Long.')
INSERT [dbo].[Brand] ([brand_id], [name], [description]) VALUES (2, N'Bizner', NULL)
INSERT [dbo].[Brand] ([brand_id], [name], [description]) VALUES (3, N'Double A', NULL)
SET IDENTITY_INSERT [dbo].[Brand] OFF
INSERT [dbo].[Cart] ([product_id], [user_id], [quantity]) VALUES (3, 13, 1)
INSERT [dbo].[Cart] ([product_id], [user_id], [quantity]) VALUES (3, 14, 1)
INSERT [dbo].[Cart] ([product_id], [user_id], [quantity]) VALUES (3, 26, 5)
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([category_id], [name], [image], [note]) VALUES (1, N'Bút viết', N'butViet.jpg', NULL)
INSERT [dbo].[Category] ([category_id], [name], [image], [note]) VALUES (2, N'Giấy văn phòng', N'giayVP.jpg', NULL)
INSERT [dbo].[Category] ([category_id], [name], [image], [note]) VALUES (3, N'Dụng cụ văn phòng', N'dungCuVP.jpg', N'')
SET IDENTITY_INSERT [dbo].[Category] OFF
INSERT [dbo].[District] ([district_id], [district_name], [district_prefix], [province_id]) VALUES (1, N'Bình Chánh', N'Huyện', 1)
INSERT [dbo].[District] ([district_id], [district_name], [district_prefix], [province_id]) VALUES (2, N'Bình Tân', N'Quận', 1)
INSERT [dbo].[District] ([district_id], [district_name], [district_prefix], [province_id]) VALUES (3, N'Bình Thạnh', N'Quận', 1)
GO
INSERT [dbo].[Feedback] ([user_id], [product_id], [date], [comment], [vote]) VALUES (12, 2, CAST(N'2021-10-03' AS Date), N'Bút khá cute *tym*', 5)
INSERT [dbo].[Feedback] ([user_id], [product_id], [date], [comment], [vote]) VALUES (12, 3, CAST(N'2021-10-20' AS Date), N'Bút tạm được', 3)
INSERT [dbo].[Feedback] ([user_id], [product_id], [date], [comment], [vote]) VALUES (13, 5, CAST(N'2021-11-20' AS Date), N'Bút gì mà dỏm quá :<', NULL)
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([order_id], [date], [total_price], [status_id], [user_id]) VALUES (2, CAST(N'2021-10-02' AS Date), CAST(6400.00 AS Numeric(18, 2)), 4, 14)
INSERT [dbo].[Order] ([order_id], [date], [total_price], [status_id], [user_id]) VALUES (3, CAST(N'2021-10-02' AS Date), CAST(9000.00 AS Numeric(18, 2)), 4, 13)
INSERT [dbo].[Order] ([order_id], [date], [total_price], [status_id], [user_id]) VALUES (4, CAST(N'2021-11-18' AS Date), CAST(727431.00 AS Numeric(18, 2)), 5, 13)
SET IDENTITY_INSERT [dbo].[Order] OFF
INSERT [dbo].[Order_detail] ([order_id], [product_id], [quantity], [item_price]) VALUES (2, 28, 1, CAST(6400.00 AS Numeric(18, 2)))
INSERT [dbo].[Order_detail] ([order_id], [product_id], [quantity], [item_price]) VALUES (3, 17, 2, CAST(9000.00 AS Numeric(18, 2)))
INSERT [dbo].[Order_detail] ([order_id], [product_id], [quantity], [item_price]) VALUES (4, 7, 1, CAST(83391.00 AS Numeric(18, 2)))
SET IDENTITY_INSERT [dbo].[Order_status] ON 

INSERT [dbo].[Order_status] ([status_id], [description]) VALUES (1, N'Chờ xử lý')
INSERT [dbo].[Order_status] ([status_id], [description]) VALUES (2, N'Yêu cầu hủy')
INSERT [dbo].[Order_status] ([status_id], [description]) VALUES (3, N'Đang giao')
SET IDENTITY_INSERT [dbo].[Order_status] OFF
SET IDENTITY_INSERT [dbo].[Permission] ON 

INSERT [dbo].[Permission] ([permission_id], [name]) VALUES (1, N'Khách hàng')
INSERT [dbo].[Permission] ([permission_id], [name]) VALUES (2, N'Admin')
SET IDENTITY_INSERT [dbo].[Permission] OFF
SET IDENTITY_INSERT [dbo].[Poster] ON 

INSERT [dbo].[Poster] ([id], [name], [type], [isActive]) VALUES (1, N'poster10.jpg', 1, 1)
INSERT [dbo].[Poster] ([id], [name], [type], [isActive]) VALUES (2, N'poster11.jpg', 1, 1)
INSERT [dbo].[Poster] ([id], [name], [type], [isActive]) VALUES (3, N'poster15.jpg', 1, 1)
SET IDENTITY_INSERT [dbo].[Poster] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
INSERT [dbo].[Province] ([province_id], [province_name], [province_code]) VALUES (1, N'Hồ Chí Minh', N'SG')
INSERT [dbo].[Province] ([province_id], [province_name], [province_code]) VALUES (2, N'Hà Nội', N'HN')
INSERT [dbo].[Province] ([province_id], [province_name], [province_code]) VALUES (3, N'Đà Nẵng', N'DDN')
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([user_id], [username], [password], [first_name], [last_name], [image], [address_id], [email], [phone], [created_at], [permission_id], [status]) VALUES (11, N'reintrinh1306', N'$2a$12$Gnsnbj7PCpH0xi/9uwVefeNf2cNxVvRiTCktcCj.9IolJuEua3Q/m', N'Trinh', N'Nguyễn Ngọc Phương', N'resources/images/users/211211185414avatar.jpg', 1, N'reintrinh1306@gmail.com', N'0396311734', CAST(N'2021-10-02' AS Date), 2, 1)
INSERT [dbo].[User] ([user_id], [username], [password], [first_name], [last_name], [image], [address_id], [email], [phone], [created_at], [permission_id], [status]) VALUES (12, N'hathimo', N'$2a$12$JX9hZOnV22MD3uZywWRE/.DP.zonmOVqTmLmrN9b0YQBwumGKziwK', N'Mơ', N'Hà', N'resources/images/users/userDefaul.png', 2, N'hathimo@gmail.com', N'0123456789', CAST(N'2021-10-02' AS Date), 2, 1)
INSERT [dbo].[User] ([user_id], [username], [password], [first_name], [last_name], [image], [address_id], [email], [phone], [created_at], [permission_id], [status]) VALUES (13, N'nhunguyen', N'$2a$12$JX9hZOnV22MD3uZywWRE/.DP.zonmOVqTmLmrN9b0YQBwumGKziwK', N'Như', N'Nguyễn Ngọc Lâm', N'resources/images/users/211211190051avatar.jpg', 3, N'nhunguyen123@gmail.com', N'1234567890', CAST(N'2021-11-16' AS Date), 1, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
INSERT [dbo].[Ward] ([ward_id], [ward_name], [ward_prefix], [district_id]) VALUES (1, N'An Phú Tây', N'Xã', 1)
INSERT [dbo].[Ward] ([ward_id], [ward_name], [ward_prefix], [district_id]) VALUES (2, N'Bình Chánh', N'Xã', 1)
INSERT [dbo].[Ward] ([ward_id], [ward_name], [ward_prefix], [district_id]) VALUES (3, N'Bình Hưng', N'Xã', 1)
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_address_ward] FOREIGN KEY([ward_id])
REFERENCES [dbo].[Ward] ([ward_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_address_ward]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_cart_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_cart_product]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_cart_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_cart_user]
GO
ALTER TABLE [dbo].[District]  WITH CHECK ADD  CONSTRAINT [FK_district_province] FOREIGN KEY([province_id])
REFERENCES [dbo].[Province] ([province_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[District] CHECK CONSTRAINT [FK_district_province]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_feedback_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_feedback_product]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_feedback_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_feedback_users]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_order_status] FOREIGN KEY([status_id])
REFERENCES [dbo].[Order_status] ([status_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_order_status]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_order_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_order_user]
GO
ALTER TABLE [dbo].[Order_detail]  WITH CHECK ADD  CONSTRAINT [FK_order_detail_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Order_detail] CHECK CONSTRAINT [FK_order_detail_order]
GO
ALTER TABLE [dbo].[Order_detail]  WITH CHECK ADD  CONSTRAINT [FK_order_detail_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Order_detail] CHECK CONSTRAINT [FK_order_detail_product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_product_brand] FOREIGN KEY([brand_id])
REFERENCES [dbo].[Brand] ([brand_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_product_brand]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_product_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_product_category]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_user_permission] FOREIGN KEY([permission_id])
REFERENCES [dbo].[Permission] ([permission_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_user_permission]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_users_address] FOREIGN KEY([address_id])
REFERENCES [dbo].[Address] ([address_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_users_address]
GO
ALTER TABLE [dbo].[Ward]  WITH CHECK ADD  CONSTRAINT [FK_ward_district] FOREIGN KEY([district_id])
REFERENCES [dbo].[District] ([district_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Ward] CHECK CONSTRAINT [FK_ward_district]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Quy cách' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'specification'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Phường' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Ward', @level2type=N'COLUMN',@level2name=N'ward_id'
GO
USE [master]
GO
